# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.env
*.sqlite3

# Django
*.log
*.pot
*.py[cod]
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/
# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
deploy/
*.json